@theme "~/.config/rofi/toxic.rasi"


element-icon { size: 1.65ch ; }

configuration{
  modes: "window,drun,run,ssh,file-browser-extended,filebrowser,emoji";
  font: "Helvetica Rounded 14";
  kb-accept-entry: "Return";
  kb-remove-to-eol: "";
  kb-row-up: "Up,Control+k";
  kb-row-down: "Down,Control+j";
  display-run: " ";
  display-drun: " ";
  display-window: " ";
  display-calc: "";
  display-emoji: "󰞅";
  display-file-browser-extended: ""; 
  show-icons: true;
  icon-theme: "Papirus";
  terminal: "kitty";
}

yazi {
  show: "yazi";
  modi: "yazi:$HOME/.config/rofi/scripts/launch_yazi.sh";
}
